{% extends 'base.html' %} {% block body %} {%load static%}
<link rel="stylesheet" href='{%static  "base.css"%}' />
<style>
  .external-div{
    height: 90vh;
    margin-top: 10vh;
  }
  </style>
  <div class='external-div'>
  <nav id="navbar-primary" class="navbar navbar-expand-lg navbar-default active" role="navigation">
  
    <!-- Brand and toggle get grouped for better mobile display -->
 
 <div class="container">
          <div class="navbar-header">
            <!-- Brand and toggle get grouped for better mobile display -->
          <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#resNav"  id='navbar-toggler'>
            <span class="navbar-toggler-icon" id="ham"></span>
          </button>
        </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="resNav">
            <ul class="navbar-nav justify-content-center">
              {% with url_name=request.resolver_match.url_name %}
              <li class="nav-item"><a class="nav-link  {% if url_name == 'home' %} active{% endif %}" href={% url "home" %}>Home</a></li>
              <li class="nav-item"><a class="nav-link {% if url_name == 'profile' %} active{% endif %}" href={% url "profile" %}>Profile</a></li>
              <li class="nav-item"><a class="nav-link {% if url_name == 'add_food' %} active{% endif %}" href={% url "add_food" %}>Add Food</a></li>
              <li class="nav-item"><a class="nav-link {% if url_name == 'select_food' %} active{% endif %}" href={% url "select_food" %}>Select Food</a></li>
              {% endwith %}
            </ul>
            </div>
            <!-- /.navbar-collapse -->
      
 </div>
</nav>

<div class="login">
  <div class="login-screen">
    <div class="app-title">
      <h1>Login</h1>
    </div>

    <form method="POST" action="" class="login-form">
      {% csrf_token %}
      <div class="control-group">{{ form.username }}</div>

      <div class="control-group">{{ form.email}}</div>
      <div class="control-group">{{ form.password1 }}</div>
      <div class="control-group">{{ form.password2 }}</div>
      <input
        class="btn btn-primary btn-large btn-block"
        type="submit"
        name="Register"
      />
    </form>
    {{ form.errors }}
    <div class="d-flex justify-content-center links mt-8">
      Already have an account?
      <a href="{% url 'login' %}" class="ml-4">Login</a>
    </div>
  </div>
</div>
  </div>


<script>
  //Query All input fields
  var form_fields = document.getElementsByTagName("input");
  form_fields[1].placeholder = "Username..";
  form_fields[2].placeholder = "Email..";
  form_fields[3].placeholder = "Enter password...";
  form_fields[4].placeholder = "Re-enter Password...";

  for (var field in form_fields) {
    form_fields[field].className += " form-control";
  }
</script>

{% endblock body %}
