{%extends 'base.html'%} {%load static %} {%block body%}
<link rel="stylesheet" href='{%static "disease.css"%}' />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href='{%static "checkup.css"%}' />

<style>
  .container-dis {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 70%;
    margin-left: 14%;
    justify-content: space-between;
    position: relative;
    background-color: rgb(175, 165, 165);
    border-radius: 1.6rem;
    box-shadow: 0 13px 20px rgba(0, 0, 0, 0.12), 0 9px 15px rgba(0, 0, 0, 0.24);
  }

  .result h2 {
    padding-top: 3rem;
  }

  @media (max-width: 700px) {
    .result {
      position: relative;
    }
  }
  .navbar {
    background: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
  }
</style>
<div class="container" style="margin-bottom: 3rem">
  <div class="result">
    <h2 style="color: rgb(161, 44, 44)">
      Resultant Possibilities based On your Inputs :
    </h2>

    <div class="container-dis">
      <script>
        let i = 0;
      </script>
      {% for dis,per in lst %}

      <div class="each-disease">
        <div class="disname">{{dis}}.</div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 0%">
            {{per}}%
          </div>
        </div>
      </div>

      <script>
        var p = "{{ per }}";
        console.log(p);
        var x = document.getElementsByClassName("progress-bar");

        x[i].style.width = p + "%";
        i++;
        console.log(i);
      </script>
      {% endfor %}
    </div>
  </div>
</div>

{%endblock%}
